defmodule <%= @context[:web_module] %>.<%= @context[:scoped] %>ControllerTest do
  use <%= @context[:web_module] %>.ConnCase, async: true
<%= for action <- @actions do %>
  describe "<%= @context[:scoped] %>Controller.<%= action %>/2" do
  end
<% end %>
end
